<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="modular/components :: head(~{::title})">

    <title>xClass - index</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{css/jquery-ui.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{css/slicknav.min.css}"/>
    <link rel="stylesheet" href="../static/css/hover.css" th:href="@{css/hover.css}"/>
    <link rel="stylesheet" href="../static/css/video.css" th:href="@{css/video.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>

<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<header th:replace="modular/components :: navigationBar">
</header>

<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hs-text">
                    <h2>Are you a teen who wants to gain financial independence?</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="hero-form" method="post" action="/doLogin"
                      th:remove="${session.userName == null} ? none : all">
                    <div class="row">
                        <div class="col">
                            <h5 class="alert alert-danger text-center"
                                th:unless="${param.error == null}"
                                th:text="${param.error}">
                                Error</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="alert alert-success text-center"
                                th:unless="${session.AUTHENTICATION_EXCEPTION == null}"
                                th:text="${session.AUTHENTICATION_EXCEPTION}">
                                Error</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="alert alert-danger text-center"
                                th:unless="${error} == null"
                                th:text="${error}">Error</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="rounded-pill" type="text" name="name" placeholder="Username" required
                                   autofocus>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="rounded-pill" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <input class="rounded-pill" type="text" name="verifyCode" placeholder="Verify Code">
                        </div>
                        <div class="col-5">
                            <img class="rounded-pill" src="/verifyCode" onclick="this.src='/verifyCode'"
                                 style="cursor:pointer;min-width: 100px;" alt="Verify Code"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col custom-control custom-switch ml-4">
                            <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                            <label class="custom-control-label text-white" for="remember"><small>Remember
                                Me</small></label>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <button class="btn btn-outline-success rounded-pill" style="min-width: 188px;"
                                type="submit">
                            Login
                        </button>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn-outline-success rounded-pill px-2" href="" data-toggle="modal"
                               data-dismiss="modal"
                               data-target="#register">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    th:style="|backgroud-image: url(@{img/hero-slider/1.jpg});|"-->
    <div class="hero-slider owl-carousel bg-danger">
        <div class="hs-item set-bg" data-setbg="../static/img/hero-slider/1.jpg"
             th:data-setbg="@{'img/hero-slider/1.jpg'}"></div>
        <div class="hs-item set-bg" data-setbg="../static/img/hero-slider/2.jpg"
             th:data-setbg="@{'img/hero-slider/2.jpg'}"></div>
        <div class="hs-item set-bg" data-setbg="../static/img/hero-slider/3.jpg"
             th:data-setbg="@{'img/hero-slider/3.jpg'}"></div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Why Section end -->
<section class="why-section spad">
    <div class="container">
        <div class="text-center mb-5 pb-4">
            <h2>Why Choose us?</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-012-24-hours"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Real Life Experience</h5>
                        <p>Our teenage founders are financially independent and believe that all teenagers can
                            replicate
                            the system. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-036-customer-service"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Credible Educators</h5>
                        <p>We are collaborating with renowned educators to create credible and authentic content for
                            our
                            users.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-039-info"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Our Uniqueness</h5>
                        <p>We focus on empirical knowledge that will help you embark on the financial independence
                            journey instantly.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-3">
            <button href="#" class="btn btn-lg btn-outline-success rounded-pill mb-n2" style="min-width: 257px;">Apply
                Now!
            </button>
        </div>
    </div>
</section>
<!-- Why Section end -->

<!-- Feature Section -->
<section class="feature-section spad">
    <div class="container">
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/feature-1.jpg" th:src="@{img/feature-1.jpg}" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="feature-text">
                        <h2>Learn about investment</h2>
                        <p>Learning about finance will show teens how to identify the difference between cost and
                            worth,
                            how to create value,
                            and how the future affects the current value of things. Additionally, figuring out how
                            to
                            take quantitative information
                            and use it to tackle issues and settling on sound business choices is an important skill
                            that can serve you throughout
                            your life. This section includes Macro and Micro Economy, Basic Financial Literacy and
                            Investment.</p>
                        <a href="#" class="readmore">Sign up now </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <img src="../static/img/feature-2.jpg" th:src="@{img/feature-2.jpg}" alt="">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="feature-text">
                        <h2>Learn about the stock marker</h2>
                        <p>Learning about entrepreneurship will help teens to cultivate unique skills and think
                            innovatively.
                            Information in this section will not only teach you important life skills but also the
                            knowledge
                            and mindset to launch real startups as entrepreneurial founders.</p>
                        <a href="#" class="readmore">Sign up now </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section end -->

<!-- Info Section -->
<section class="info-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../static/img/info-img.jpg" th:src="@{img/info-img.jpg}" alt="">
            </div>
            <div class="col-lg-7">
                <div class="info-text">
                    <h2>We are here to help</h2>
                    <h5>Monday to Thursday (8am to 8pm), and Friday (8am to 5pm).</h5>
                    <p>Dinero is a platform designed to help teens to achieve financial independence through any of
                        the
                        possible 3 ways:
                        taking the users on a pathway to a successful entrepreneur, introducing the users about
                        investment techniques
                        or helping them find teenage job opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info Section end -->

<div th:replace="modular/components :: loginForm">
</div>

<div th:replace="modular/components :: registerForm">
</div>


<footer th:replace="modular/components :: footer">
</footer>

<!--====== Javascripts & Jquery ======-->
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.slicknav.min.js" th:src="@{js/jquery.slicknav.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/circle-progress.min.js" th:src="@{js/circle-progress.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>
