<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dinero</title>
    <meta charset="UTF-8">
    <meta name="description" content="??????">
    <meta name="keywords" content="??????">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{img/favicon.ico}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{css/slicknav.min.css}"/>
    <link rel="stylesheet" href="../static/css/hover.css" th:href="@{css/hover.css}"/>
    <link rel="stylesheet" href="../static/css/video.css" th:href="@{css/video.css}"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section -->
<header class="header-section">
    <a href="index.html" th:href="index" class="site-logo">
        <img src="../static/img/logo.png" th:src="@{img/logo.png}" alt="">
    </a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a href="index.html" th:href="index">Home</a></li>
            <li>
                <a href="jobs.html" th:href="jobs" class="active">Jobs</a>
                <ul class="sub-menu">
                    <li><a href="topic.html" th:href="vTopic">Vancouver Forum</a></li>
                    <li><a href="topic.html" th:href="cTopic">California Forum</a></li>
                </ul>
            </li>
            <li><a href="finances.html" th:href="finances">Finance</a>
                <ul class="sub-menu">
                    <li><a href="fArticles.html" th:href="fArticles">Articles</a></li>
                    <li><a href="fVideos.html" th:href="fVideos">Videos</a></li>
                    <li><a href="fPodcasts.html" th:href="fPodcasts">Podcasts</a></li>
                </ul>
            </li>
            <li><a href="entrepreneurship.html" th:href="entrepreneurship">Entrepreneurship</a>
                <ul class="sub-menu">
                    <li><a href="eArticles.html" th:href="eArticles">Articles</a></li>
                    <li><a href="eVideos.html" th:href="eVideos">Videos</a></li>
                    <li><a href="ePodcasts.html" th:href="ePodcasts">Podcasts</a></li>
                </ul>
            </li>
            <li><a href="topic.html" th:href="forum">Forum</a></li>
            <li><a href="contact.html" th:href="contact">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- Header Section end -->

<!-- Page top Section end -->
<section class="page-top-section set-bg bg-danger" data-setbg="../static/img/page-top-bg/1.jpg"
         th:background-image="@{'img/page-top-bg/3.jpg'}">
    <div class="container">
        <h2>Jobs</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="#">Home</a>
            <span class="sb-item active">Jobs</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->

<!-- About Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../static/img/about-img.jpg" th:src="@{img/about-img.jpg}" alt="">
            </div>
            <div class="col-lg-7">
                <div class="about-text">
                    <h2>A team to help you</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem
                        sodales nec. In libero orci, ornare non nisl. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua. Class aptent taciti
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut
                        gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl.</p>
                    <a href="#" class="site-btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section end -->

<!-- Review Section end -->
<section class="review-section spad">
    <div class="container">
        <div class="text-center text-white mb-5 pb-2">
            <h2>What Our Clients Say</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
                    <h6>Maria Smith, <span>25 min ago</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua. Class aptent taciti sociosqu
                        ad litora torquent per conubia.</p>
                    <h6>Marta Black, <span>25 min ago</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Suspendisse po-tenti. Ut gravida mattis magna, non varius lorem sodales nec. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <h6>Carl Brown, <span>25 min ago</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Per conubia nostra, per inceptos hime-naeos. Suspendisse potenti. Ut gravida mattis magna, non
                        varius lorem sodales nec.</p>
                    <h6>Paul David, <span>25 min ago</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Section end -->

<!-- Authorities Section end -->
<section class="authorities-section spad">
    <div class="container">
        <div class="text-center">
            <h2>We’re regulated by these authorities</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="../static/img/brands/1.png" th:src="@{img/brands/1.png}" alt="">
                    <h4>Financial Conduct Authority</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos hime-naeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem
                        sodales nec. In libero orci, ornare non nisl.</p>
                    <a href="#" class="readmore">Sign up now </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="../static/img/brands/2.png" th:src="@{img/brands/2.png}" alt="">
                    <h4>Prudential Regulation Authority</h4>
                    <p>Prudential Regulation Authority ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tem por incididunt ut labore et dolore mag na aliqua. Pruden-tial Regulation Authority taciti
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut
                        gravida mattis magna, non varius lorem sodales nec. In libero.</p>
                    <a href="#" class="readmore">Sign up now </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="../static/img/brands/3.png" th:src="@{img/brands/3.png}" alt="">
                    <h4>Peer-to-Peer Finance Association</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos hime-naeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem
                        sodales nec. In libero orci, ornare non nisl.</p>
                    <a href="#" class="readmore">Sign up now </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Authorities Section end -->

<div class="copyright text-center">
    Copyright &copy;2020 All rights reserved to xClass.
</div>


<!--====== Javascripts & Jquery ======-->
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.slicknav.min.js" th:src="@{js/jquery.slicknav.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/circle-progress.min.js" th:src="@{js/circle-progress.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>


</body>
</html>
