<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="modular/components :: head(~{::title})">

    <title>xClass - Test</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{css/jquery-ui.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{css/slicknav.min.css}"/>
    <link rel="stylesheet" href="../static/css/hover.css" th:href="@{css/hover.css}"/>
    <link rel="stylesheet" href="../static/css/video.css" th:href="@{css/video.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>

<body>

<div class="row align-items-center">
    <iframe
            src="https://player.twitch.tv/?channel=insomniac&parent=xclass.highspeed.vip"
            height="1280"
            width="720"
            frameborder="1"
            scrolling="no"
            allowfullscreen="yes">
    </iframe>
</div>

<div id="smart-button-container">
    <div style="text-align: center;">
        <div id="paypal-button-container"></div>
    </div>
</div>

<footer th:replace="modular/components :: footer">
</footer>

<!--====== Javascripts & Jquery ======-->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=CAD"
        data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal',

            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{"amount": {"currency_code": "CAD", "value": 1}}]
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            },

            onError: function (err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }

    initPayPalButton();
</script>
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.slicknav.min.js" th:src="@{js/jquery.slicknav.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/circle-progress.min.js" th:src="@{js/circle-progress.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>