<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="modular/components :: head(~{::title})">

    <title>xClass - topic</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{css/jquery-ui.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{css/slicknav.min.css}"/>
    <link rel="stylesheet" href="../static/css/hover.css" th:href="@{css/hover.css}"/>
    <link rel="stylesheet" href="../static/css/video.css" th:href="@{css/video.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>

<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<header th:replace="modular/components :: navigationBar">
</header>

<section th:replace="modular/components :: pageTopSection('Forum','Home','Forum')">
</section>

<!-- Blog Section -->
<section class="blog-section spad"
         th:replace="modular/components :: section1(~{:://div[@class='col-lg-8' and @id='main']},_)">
    <div class="container">
        <div class="row">
            <div id="main" class="col-lg-8">
                <!--********************************************************************************************-->
                <div th:each="topic,stat:${topics}" class="blog-post">
                    <div th:text="${#dates.format(topic.getCreateDateTime(),'yyyy-MM-dd')}" class="blog-date">
                        1970-01-01
                    </div>
                    <h2 th:text="${topic.getTitle()}" class="blog-title">Test</h2>
                    <div class="blog-metas">
                        <div th:text="${topic.getUserName()}" class="blog-meta">Temp</div>
                        <div class="blog-meta">on loan</div>
                        <a href="reply.html" th:if="${topic.getReplyNums()}>0"
                           th:href="@{/reply(topicID=${topic.getId()})}" target="_blank">
                            <span class="badge badge-pill badge-success" th:text="${topic.getReplyNums()}">99</span>
                        </a>
                        <span class="badge badge-pill badge-success" th:if="${topic.getReplyNums()}==0">0</span>
                        <span class="blog-meta">comments</span>
                    </div>
                    <p th:text="${topic.getContent()}">Test Topic</p>
                    <a href="reply.html" th:href="@{/reply(topicID=${topic.getId()})}" target="_blank"
                       class=" readmore">Read More </a>
                </div>
                <div class="site-pagination mt-n5 mb-5 row justify-content-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item mr-3" th:classappend="${page} == 1 ? 'disabled'">
                                <a class="page-link btn btn-outline-success" href="#"
                                   th:href="@{${#request.getRequestURI()}(page=${page}-1,size=${size})}">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                            <span class="justify-content-center" th:each="i:${#numbers.sequence(1,pages)}">
                                <li class="page-item mr-1">
                                    <a class="btn btn-outline-success rounded-pill" href="#"
                                       th:href="@{${#request.getRequestURI()}(page=${i},size=${size})}"
                                       th:classappend="${i}==${page} ? active : ''"
                                       th:text="${i}">1</a>
                                </li>
                            </span>
                            <li class="page-item ml-3" th:classappend="${page} == ${pages} ? 'disabled'">
                                <a class="page-link btn btn-outline-success" href="#"
                                   th:href="@{${#request.getRequestURI()}(page=${page}+1,size=${size})}">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--                <div class="progress mb-2" style="height: 5px;">-->
                <!--                    <div class="progress-bar bg-success w-100"></div>-->
                <!--                </div>-->
                <div th:if="${logined}">
                    <form class="hero-form row justify-content-center" style="background: #f8f8f8" method="post"
                          action="/submit/topic">
                        <input type="text" name="title" placeholder="Title">
                        <textarea name="content" rows="12" placeholder="Content"></textarea>
                        <input type="hidden" name="region" th:value="${#httpServletRequest.getRequestURI()}">
                        <button class="btn btn-outline-success rounded-pill mb-n2" style="min-width: 188px;"
                                type="submit">
                            Send
                        </button>
                    </form>
                </div>
                <div th:if="!${logined}" class="row justify-content-center my-3">
                    <a data-toggle="modal" data-target="#login" href="" class="btn btn-outline-success rounded-pill"
                       style="min-width: 188px;">Sign up</a>
                </div>
                <!-- 登录窗口 -->
                <div id="login" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="close" data-dismiss="modal">
                                    <span>×</span>
                                </button>
                            </div>
                            <div class="modal-title">
                                <h1 class="text-center">login</h1>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" method="post" action="/login">
                                    <div class="form-group">
                                        <label for="name">username</label>
                                        <input id="name" name="name" class="form-control" type="text"
                                               placeholder="Username"
                                               required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">password</label>
                                        <input id="password" name="password" class="form-control" type="password"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="text" name="verifyCode" class="form-control"
                                                   placeholder="Verify Code">
                                        </label>
                                        <img src="/verifyCode" onclick="this.src='/verifyCode'"
                                             style="cursor:pointer" alt=""/>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary" type="submit">login</button>
                                        <button class="btn btn-danger" data-dismiss="modal">cancel</button>
                                    </div>
                                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">don't
                                        have an account? click here to signup</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 注册窗口 -->
                <div id="register" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="close" data-dismiss="modal">
                                    <span>×</span>
                                </button>
                            </div>
                            <div class="modal-title">
                                <h1 class="text-center">sign up</h1>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" method="post" action="/register">
                                    <div class="form-group">
                                        <label for="userName">username</label>
                                        <input id="userName" name="userName" class="form-control" type="text"
                                               placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="pw">password</label>
                                        <input id="pw" name="password" class="form-control" type="password"
                                               placeholder="Your Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">email</label>
                                        <input id="email" name="email" class="form-control" type="email"
                                               placeholder="Your E-mail">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="text" name="verifyCode" class="form-control"
                                                   placeholder="Verify Code">
                                        </label>
                                        <img src="/verifyCode" onclick="this.src='/verifyCode'"
                                             style="cursor:pointer" alt=""/>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary" type="submit">submit</button>
                                        <button class="btn btn-danger" data-dismiss="modal">cancel</button>
                                    </div>
                                    <a href="" data-toggle="modal" data-dismiss="modal"
                                       data-target="#login">already have an account? click me to login</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--********************************************************************************************-->
            </div>
        </div>
    </div>
</section>

<footer th:replace="modular/components :: footer">
</footer>

<!--====== Javascripts & Jquery ======-->
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.slicknav.min.js" th:src="@{js/jquery.slicknav.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/circle-progress.min.js" th:src="@{js/circle-progress.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>
